!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Blocipedia
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      %ul.nav.nav-tabs
        %li= link_to "Blocipedia", root_path
        %li= link_to "Wikis", wikis_path
        %li= link_to "About", about_path
        - if user_signed_in?
          %li.pull-right
            Signed in as:
            %strong= current_user.email
            = link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'
            = link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'
        - else
          %li.pull-right
            = link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'
          %li.pull-right
            = link_to "Sign In", new_user_session_path, :class => 'navbar-link'
      - if flash[:notice]
        .alert.alert-success
          %button.close{"data-dismiss" => "alert", :type => "button"} ×
          = flash[:notice]
      - elsif flash[:alert]
        .alert.alert-warning
          %button.close{"data-dismiss" => "alert", :type => "button"} ×
          = flash[:alert]
      = yield
